// discorvery and add server icon color
.circleIcon-3489FI {
  color: var(--accent-sea-green) !important;
}

// discovery and add server icon background color
.circleIconButton-1VxDrg {
  background-color: var(--background-brighter);
}

// discovery and add server icon background color when hovered / selected
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background-color: var(--accent-sea-green) !important;
}

// discovery and add server icon color color when hovered / selected
.circleIconButton-1VxDrg.selected-2r1Hvo .circleIcon-3489FI {
  color: var(--interactive-active) !important;
}

// server and discord logo background 
.childWrapper-1j_1ub {
  background-color: var(--background-brighter) !important;
}

// server and discord logo background when hovered / selected
.blobContainer-ikKyFs.selected-3c78Ai .childWrapper-1j_1ub {
  background-color: var(--accent-blue) !important;
}

// user profile for non premium user
.userProfileInnerThemedNonPremium-1gT-zY {
  background: var(--background-primary) !important;
}

// bd switches
.bd-switch input:checked + .bd-switch-body {
  --switch-color: var(--accent-sea-green) !important;
}

.container-2nx-BQ.checked-25WXMf {
  background-color: var(--accent-sea-green) !important;
}

// bd buttons
.bd-button.bd-button-title{
	  background-color: var(--accent-blue) !important;
}

.bd-button.bd-view-button.selected{
	background-color: var(--accent-blue) !important;
}

.bd-button.bd-addon-button{
	background-color: var(--accent-blue) !important;
}

.bd-button.bd-addon-button.bd-button-danger{
	background-color: var(--accent-red) !important;
}

//round buttons
.roundButton-2_R5PN.activeButton-LRWFC_{
  background-color: var(--accent-blue) !important;
}
// forum backround color
.container-3wLKDe {
  background-color: var(--background-primary) !important;
}

//search color for forums
.mainCard-3KBsBI {
  background-color: var(--background-secondary) !important;
}

// rounded corners for chatbox
.scrollableContainer-15eg7h {
  border-radius: 25px !important;
}

// background blur for unread popout
.bar-2eAyLE.unreadBar-elBRZx.unread-2wipsx {
  backdrop-filter: blur(5px) !important;
}

.channelTextArea-1FufC0 {
  background: none !important;
  background-color: none !important;
}

//new colors for status icons

//online status

//sidebar
rect[mask="url(#svg-mask-status-online)"] {
  fill: var(--accent-green) !important;
}
//chat header
div[aria-label="Online"] rect{
  fill: var(--accent-green) !important;
  transition:  fill 200ms;
}

//offline status

//in the sidebar
rect[mask="url(#svg-mask-status-offline)"] {
  fill: var(--bright-gray)!important;
}
//chat header
div[aria-label="Offline"] rect{
  fill: var(--bright-gray) !important;
  transition:  fill 200ms;
}

//dnd status

//in the sidebar
rect[mask="url(#svg-mask-status-dnd)"] {
  fill: var(--accent-red) !important;
}
//chat header
div[aria-label="Do Not Disturb"] rect{
  fill: var(--accent-red) !important;
  transition:  fill 200ms;
}


//idle status

//sidebar
rect[mask="url(#svg-mask-status-idle)"]{
  fill: var(--accent-yellowish) !important;
}
//chat header
div[aria-label="Idle"] .mask-3tgVZv rect{
  fill: var(--accent-yellowish) !important;
  transition:  fill 200ms;
}
