// Here are some manual overrides / hardcoded things for stuff that doesnt get changed normally for some reason



// friends page header fix
.container-ZMc96U.themed-Hp1KC_{
    background-color: var(--primary) !important;
}

// add friend button color change
.addFriend-emTWY1{
	background-color: var(--accent-sea-green) !important;
}

.addFriend-emTWY1.selected-g-kMVV{
	color:  var(--accent-sea-green) !important;
	background-color: var(--primary) !important;
}

.popout-3gby1q {
	background-color: var(--primary) !important;
}

// add back search background
.searchBar-jGtisZ{
	background-color: var(--secondary) !important;
}

// fix userarea color
.panels-3wFtMD{
	background-color: var(--tertiary) !important;
}


//fix discord icon color on hover and click
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub{
	background-color: var(--accent-blue) !important;
}

//remove background of chatbox
.channelTextArea-1FufC0.channelTextArea-1VQBuV{
	background: transparent !important;
}